streamlit
langchain
sentence-transformers
pypdf
python-docx
python-dotenv
huggingface-hub==0.13.4
langchain-community
faiss-cpu
textract
groq
langchain-groq
PyPDF2
langchain_google_genai
pydantic==1.10.2
